@*
    This is the permission denied view. It's the only server-side view in the project. The rest of the front-end is rendered by react and is in the ClientApp folder.
*@
@{
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="nice-design-system.css" />
		<link href="fonts.googleapis.com.css" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width" />
		<title>Permission Denied</title>
	</head>
	<body>
	<div>
		<main role="main">
			<div class="container">
				<div class="panel page-header">
					<h1 class="heading mt--c">Something's gone wrong</h1>
					<p>You do not have access to this website. Please <a href="https://www.nice.org.uk/get-involved/contact-us">contact support</a> if you think this is incorrect.</p>
				</div>
			</div>
		</main>
	</div>

	<script>
	var global_nav_config = {
			service: "",
			header: {
				search: false,
				auth: {
					provider: "idam",
					environment: "live",
					links: [{ text: "Sign out", url: "/account/logout" }],
					displayName: " "
				},
				cookie: false
			},
			footer: true
		};
	</script>
	<script src="https://cdn.nice.org.uk/global-nav/global-nav.min.js"></script>
	</body>
</html>
}
