@use '@nice-digital/nds-core/scss/colours/tokens/global';
@use "@nice-digital/nds-core/scss/colours";
@use "@nice-digital/nds-core/scss/spacing";
@use "@nice-digital/nds-core/scss/utils";

.suggestions {
  position: relative;

  ul {
    list-style: none;
    background-color: global.$white;
    border: 1px solid colours.$border;
    border-top: 0;
    border-bottom: 0;
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    z-index: 99;

    max-height: 315px;    
    overflow: hidden;
    overflow-y: auto;

    li {
      margin: 0;
      border-bottom: 1px solid colours.$border;
      line-height: 1.15;

      a {
        background-color: global.$white;
        cursor: pointer;
        padding: utils.rem(spacing.$small);
        display: block;

        small {
          display: inline-block;
          margin-top: 5px;
          text-decoration: underline;
          word-break: break-word;
        }
      }
    }
  }
}

.active {
  a {
    background-color: global.$custom-grey-4 !important;
  }
}

.noMargin {
  margin: 0;
}
