@use "@nice-digital/nds-core/scss/colours/tokens/global";

.liveTag {
    // might need to change to #578137;
    background-color: global.$custom-green-1;
    color: white;
}

.testTag {
    // might need to change to global.$custom-purple-1;
    background-color: #451551;
    color: white;
}

.devTag {
    background-color: #517489;
    color: white;
}

.localTag {
    background-color: #557021;
    color: white;
}