WebAppConfiguration__ApiIdentifier="https://test-identityapi.nice.org.uk/api"
WebAppConfiguration__AuthorisationServiceUri="https://test-identityapi.nice.org.uk"
WebAppConfiguration__RedirectUri="https://local-identityadmin.nice.org.uk:44300/signin-auth0"
WebAppConfiguration__PostLogoutRedirectUri="https://local-identityadmin.nice.org.uk:44300"
WebAppConfiguration__ClientId=
WebAppConfiguration__ClientSecret=""
WebAppConfiguration__Domain="test-identity.nice.org.uk"
WebAppConfiguration__GoogleTrackingId="none"
WebAppConfiguration__RedisServiceConfiguration__ConnectionString="redisidentity:6379"
WebAppConfiguration__RedisServiceConfiguration__Enabled=true
AppSettings__Environment__HealthCheckPublicAPIEndpoint=/healthcheck

HealthChecksUI__Webhooks__0__Name="Teams"
HealthChecksUI__Webhooks__0__Uri=""
HealthChecksUI__Webhooks__0__Payload="{\r\n  \"@context\": \"http://schema.org/extensions\",\r\n  \"@type\": \"MessageCard\",\r\n  \"themeColor\": \"0072C6\",\r\n  \"title\": \"[[LIVENESS]] has failed!\",\r\n  \"text\": \"[[FAILURE]] Click **Learn More** to go to Identity Admin\",\r\n  \"potentialAction\": [\r\n    {\r\n      \"@type\": \"OpenUri\",\r\n      \"name\": \"Learn More\",\r\n      \"targets\": [\r\n        { \"os\": \"default\", \"uri\": \"https://identityadmin.nice.org.uk/healthcheck-ui\" }\r\n      ]\r\n    }\r\n  ]\r\n}"
HealthChecksUI__Webhooks__0__RestoredPayload="{\"text\":\"The HealthCheck [[LIVENESS]] is recovered. All is up and running\",\"channel\":\"#general\",\"link_names\": 1,\"username\":\"monkey-bot\",\"icon_emoji\":\":monkey_face\" }"
HealthChecksUI__EvaluationTimeinSeconds=10
HealthChecksUI__MinimumSecondsBetweenFailureNotifications=3600

FrontendProxy__Routes__frontend-route__ClusterId=frontend-cluster
FrontendProxy__Routes__frontend-route__Match__Path={**catch-all}
FrontendProxy__Clusters__frontend-cluster__Destinations__frontend-server__Address="http://nodeappidentity:5000/"