<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
   <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
   <add key="teamcity.nice.org.uk" value="https://teamcity.nice.org.uk/httpAuth/app/nuget/feed/_Root/default/v2" />
   <!-- <add key="nuget.nice.org.uk" value="http://nuget.nice.org.uk" /> -->
 </packageSources>
 <packageSourceCredentials>
   <teamcity.nice.org.uk>
     <add key="Username" value="afimognari" />
     <add key="ClearTextPassword" value="8B6Gjwce6KdBqCBQM7hJ" />
   </teamcity.nice.org.uk>
 </packageSourceCredentials>
</configuration>