<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <rewrite xdt:Transform="InsertBefore(/configuration/system.webServer/*)" />
  <system.webServer>

  </system.webServer>  
</configuration>
<!-- IDAM-456 This transformation file is needed to deal with the mismatching versions of IIS on the different environments. For Dev and Test it adds
the rewrite rule to hide the server header for older versions of IIS such as IIS 6 and removes the security element which is used for IIS 10 -->