<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <rewrite xdt:Transform="InsertBefore(/configuration/system.webServer/*)" />
  <system.webServer>
    <security xdt:Transform="Remove"/>
    <rewrite>
      <outboundRules rewriteBeforeCache="true" xdt:Transform="Insert">
        <rule name="Remove Server header">
          <match serverVariable="RESPONSE_Server" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>  
</configuration>
<!-- IDAM-456 This transformation file is needed to deal with the mismatching versions of IIS on the different environments. For Dev and Test it removes the security element which only works with IIS 10 -->