@use "@nice-digital/nds-core/scss/typography";

//design system overrides

.form-group-container {
  &--no-border {
    .form-group {
      border: 0;
    }
  }
}

.results-heading {
  @include typography.h5;

  margin-top: 0;
  margin-bottom: 0;
}